@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --font-main: 'Kumbh Sans', sans-serif;
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black-opacity: hsl(0, 0%, 0%);
}

html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*HEADER*/


header{
    display: flex;
    width: 80%;
    border-bottom: 1px solid;
    border-color: rgba(156, 156, 156, 0.815);
    height: 10rem;

}

.geral-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0.7rem 0;
}

#menu-area{
    display: flex;
    justify-content: center;
}

header div nav ul{
    display: flex;
    list-style: none;

}

header div nav ul li a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    margin-left: 6rem;
    color: rgb(146, 146, 146);
    font-weight: 400;
}

.final-cart{
    cursor: pointer;
}

.profile-area{
    display: flex;
    align-items: center;
}

.profile-area img{
    width: 4.5rem;
    margin-left: 4rem;
    
}

header div nav ul li a:hover{
    border-bottom: 2px solid;
    border-color: var(--orange);
}

/*MAIN*/


main{
    display: flex;
    width: 80%;
}

main section{
    display: flex;
    width: 50%;

}





.container-describe{
    display: flex;
    flex-direction: column;
    padding: 75px;
}

.container-describe #orange-title{
    color: var(--orange);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.container-describe h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0 2rem 0;
}


.container-describe #describe-text{
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
    text-align: left;
}

.container-describe .product-values{
    display: flex;
    flex-direction: column;
    width: 20px;
    margin: 25px 0 25px 0;
}

.container-describe .product-values div:first-child{
    display: flex;
    align-items: center;
}


.container-describe .product-values p#final-value{
    font-size: 2.7rem;
    font-weight: 700;
}

.container-describe .product-values p#percent-value{
    font-size: 1.8rem;
    margin-left: 0.8rem;
    color: var(--orange);
    font-weight: 700;
    background-color: rgba(250, 183, 60, 0.226);
    padding: 0.5rem;
    border-radius: 5px;
}

.container-describe .product-values p#old-value{
    font-size: 1.6rem;
    text-decoration: line-through;
}


.product-buttons{
    display: flex;
    height: 50px;
}

.product-amount{
    background-color: rgba(184, 184, 184, 0.116);
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.product-amount span{
    font-size: 1.9rem;
    padding: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.product-amount span:first-child, .product-amount span:last-child{
    color: var(--orange);
    cursor: pointer;
}

.add-product-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--orange);
    height: 100%;
    width: 20rem;
    color: #ffffff;
    border-radius: 7px;
    margin-left: 12px;
    cursor: pointer;
}

.add-product-cart span{
    margin-left: 10px;
}

.product-imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main-image{
    width: 65%;
    height: 65%;
    background-color: yellow;

}

.main-image img{
    width: 100% !important;
    height: 100%;
    border-radius: 20px;
}

.secondary-images{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.secondary-images img{
    width: 75px !important;
    height: 75px;
    border-radius: 6px;
}
