@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --font-main: 'Kumbh Sans', sans-serif;
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black-opacity: hsl(0, 0%, 0%);
}

html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*HEADER*/


header{
    display: flex;
    width: 80%;
    border-bottom: 1px solid;
    border-color: rgba(156, 156, 156, 0.815);
    height: 10rem;

}

.geral-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0.7rem 0;
}

#menu-area{
    display: flex;
    justify-content: center;
}

header div nav ul{
    display: flex;
    list-style: none;

}

header div nav ul li a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    margin-left: 6rem;
    color: rgb(146, 146, 146);
    font-weight: 400;
}

.profile-area{
    display: flex;
    align-items: center;
}

.profile-area img{
    width: 4.5rem;
    margin-left: 4rem;
    
}

header div nav ul li a:hover{
    border-bottom: 2px solid;
    border-color: var(--orange);
}

/*MAIN*/


main{
    display: flex;
    width: 80%;
}

main section{
    display: flex;
    width: 200px;

}

main section.product-imagens{
    background-color: yellow;
}

main section.product-imagens img{
    width: 10px;
}




